</div><!-- Wrap Div end -->
<footer class="footer">
    <div class="container text-center">
        <!-- Social Media Links -->
        <a href="http://linkedin.com/in/ottoeric"><i class="fa fa-linkedin"></i></a>
        <a href="http://github.com/ericotto"><i class="fa fa-github"></i></a>
        <a href="http://codepen.io/ericotto"><i class="fa fa-codepen"></i></a>
    </div>
</footer>
  <!-- JQuery -->
  <script src="http://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
  <!-- BootStrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
</body>
</html>
